body{
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
}
img{
    width: 100%;
    visibility: hidden;
    position: absolute;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    transition: clip-path .3s;
}
.container{
    display: flex;
    margin: 5em 0 5em 5em;
    position: relative;
}
section{
    width: 800px;
    position: absolute;
    right: 10em;
}
nav{
    margin-right: 4em;
    position: fixed;
    width: 800px;
    text-align: left;
}
ul{
    list-style-type: none;
    width: 10em;
    li{
        text-transform: uppercase;
        padding: .8em 0 .8em .8em;
        cursor: pointer;
        position: relative;
    }
}

.intro{
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}